*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#98B9F2;        
    text-align: center;
    color:#141B41;
    font-size: 3vmin;
    overflow-y: hidden;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}
.button{
    height: 18vmin;
    background-color: #6F9CEB;
    color: #141B41;
    width:18vmin;
    border: none;
    font-size: 8vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0,0,0,0.2);
}
.reset-game,.new-game{
    padding: 1rem;
    background-color:#141B41;
    color:#bbd0ff;
    border-radius: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
}
.msg{
    color: #141B41;
    font-size: 8vmin;
    margin: 2vmin;
}
.msg-container{
    height: 10vmin;
}
.hide{
    display: none;
}
.win {
    background-color:#141B41;
}
.O{
    color:#e0aaff;
}
.X{
    color: #a9def9;
}